<h2>Visa List</h2>
<table class="table table-bordered table-hover" id="visas" data-source=
<% visas_url(format: 'json') %>>
  <thead>
  <tr>
    <th>Show Visa</th>
    <th>Employee Number</th>
    <th>Passport Number</th>
    <th>Visa Type</th>
    <th>Status</th>
    <th>Issue Date</th>
    <th>Expiry Date</th>
    <th>Edit</th>
    <th>Remove</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>




