<!DOCTYPE html>
<html>
    <head>
        <title>Ruby on Rails: Welcome aboard</title>
      <div>
        <div class="header_middle"><%= image_tag 'TW_logo.png' %></div>
        <div class="header_middle">Immigration & Mobility Portal</div>
      </div>
    </head>
    <body>
    <hr/>
    <br/>
    <div id="home_list">
        <%= link_to "Employee List", employees_path %>
        <br/>
        <br/>
        <%= link_to "Passport List", passports_path %>
        <br/>
        <br/>
        <%= link_to "Visas List", visas_path %>
    </div>
    </body>
</html>
