<br/>
<div id="home_list">
  <%= link_to "Employee List", employees_path %>
  <br/>
  <br/>
  <%= link_to "Passport List", passports_path %>
  <br/>
  <br/>
  <%= link_to "Visas List", visas_path %>
  <br/>
  <br/>
  <%= link_to "Visa Types List", visa_types_path %>
</div>
