<!DOCTYPE html>
<html>
    <head>
        <title>Ruby on Rails: Welcome aboard</title>
      <div>
        <div class="header_left"><%= image_tag 'TW_logo.png' %></div>
        <div class="header_middle">Immigration & Mobility Portal</div>
      </div>
    </head>
    <body>
        <%= link_to "Employee List", employees_path %>
        <%= link_to "Passport List", passports_path %>
    </body>
</html>
