// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
  width: 600px;
}

div.header_left{
  float:left;
}

div.header_middle{
  text-align: center;
  margin: 0 auto;
  width: 50%;
  font-size: 30px;
}
