// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_list
{
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: large;
  color: black;
  align-content: center;
  text-align: center;
  width:100%;
}

