<%# add navigation links to this file %>
<li><%= link_to "Employee List", employees_path, class: 'navbar-brand'%></li>
<li><%= link_to "Passport List", passports_path, class: 'navbar-brand'%></li>
<li><%= link_to "Visas List", visas_path, class: 'navbar-brand' %></li>
<li><%= link_to "Visa Types List", visa_types_path, class: 'navbar-brand' %></li>
